{% if menu %}
	<ul>
	{% for item in menu %}
		<li class="{{item.classes | join(' ')}}">
			<a href="{{item.get_link}}">{{item.title}}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
	<!-- <div class="nav-main__social-links">
				<img src="{{ theme.link }}/img/flickr.svg" width="20rem"/>
				<img src="{{ theme.link }}/img/behance-square.svg" width="20rem" />
				<img src="{{ theme.link }}/img/dribbble.svg" width="20rem"/>
	</div> -->
{% endif %}
