{% extends "base.twig" %}

{% block content %}
<div class="project">

<div class="wrapper-row">
	<div class="container project__title-container">
			<h1 class="project__h1">{{post.title}}</h1>
			<div class="project__subtitle">{{post.get_field('project_subtitle')}}</div>
	</div>
</div>

<div class="wrapper-row">
	<div class="container">
		<ul class="project__details">
			<span class="project__h3">Details</span>
			{% for cat in project %}
			<li>{{cat.name}}</li>
			{% endfor %}
		</ul>
		<div class="project__about">
			<span class="project__h3">About</span>
			<p>{{ post.get_field('project_about')}}</p>
		</div>
	</div>
</div>


			<!-- This for loop loads all possible layouts for a single project -->
			{% for media_item in post.get_field('project_layout') %}
			  {% if media_item.acf_fc_layout == 'layout_col_4_right' %}
			  <div class="wrapper-row">
			    <div class="container"> <!-- This container initializes a Neat grid -->
			      <div class="layout__col-4--right right">
			        {{media_item.content}}
			      </div>
			    </div>
			  </div>
			  {% elseif media_item.acf_fc_layout == 'layout_col_4_left' %}
			  <div class="wrapper-row">
			    <div class="container"> <!-- This container initializes a Neat grid -->
			      <div class="layout__col-4--left">
			        {{media_item.content}}
			      </div>
			    </div>
			  </div>
			  {% endif %}
			{% endfor %}



</div> <!-- Project Wrapper-->
{% endblock %}
