{% extends "base.twig" %}

{% block content %}

<div class="wrapper-row">
	<div class="container project__title-container">
			<h1 class="project__title">{{post.title}}</h1>
			<div class="project__subtitle">{{post.get_field('project_subtitle')}}</div>
	</div>
</div>
<div class="wrapper-row">
	<div class="container">
		<div class="project__details">
			<span class="project__small-header">Details</span>
			<ul>
				{% for cat in post.terms("project-type") %}
				<li>{{cat.name}}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="project__about">
			<span class="project__small-header">About</span>
			<div class="project__p">{{ post.get_field('project_about')}}</div>
		</div>
		<img class="project__hero-image" src="{{TimberImage(post.project_hero_image).src}}"/>
	</div>
	<svg class="svg-streak" width="12px" height="723px" viewBox="714 290 12 723" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <defs>
	        <linearGradient x1="50%" y1="-2.48949813e-15%" x2="50%" y2="100%" id="linearGradient-1">
	            <stop stop-color="{{post.get_field('streak_color')}}" offset="0%"></stop>
		            <stop stop-color="{{post.get_field('streak_color')}}" stop-opacity="0" offset="100%"></stop>
	        </linearGradient>
	    </defs>
	    <rect id="Rectangle-2" stroke="none" fill="url(#linearGradient-1)" fill-rule="evenodd" x="714" y="290" width="20" height="723"></rect>
	</svg>
</div>
	<!-- This for loop loads all possible layouts for a single project -->
	<!-- Content 4 columns pushed right-->
<div class="project__layouts">
	{% for media_item in post.get_field('project_layout') %}

	<!-- Content 4 columns pushed right -->
	  {% if media_item.acf_fc_layout == 'layout_col_4_right' %}
		{% include "project-layouts/layout_col_4_right.twig" %}

		<!-- Content 4 columns pushed left -->
	  {% elseif media_item.acf_fc_layout == 'layout_col_4_left' %}
		{% include "project-layouts/layout_col_4_left.twig" %}

		<!-- Content 4 columns centered -->
		{% elseif media_item.acf_fc_layout == 'layout_col_4_center' %}
		{% include "project-layouts/layout_col_4_center.twig" %}

		<!-- Content 6 columns pushed right -->
		{% elseif media_item.acf_fc_layout == 'layout_col_6_right' %}
		{% include "project-layouts/layout_col_6_right.twig" %}

		<!-- Content 6 columns pushed left -->
		{% elseif media_item.acf_fc_layout == 'layout_col_6_left' %}
		{% include "project-layouts/layout_col_6_left.twig" %}

		<!-- Content 8 columns pushed left -->
		{% elseif media_item.acf_fc_layout == 'layout_col_8_left' %}
		{% include "project-layouts/layout_col_8_left.twig" %}

		<!-- Content 8 columns pushed right -->
		{% elseif media_item.acf_fc_layout == 'layout_col_8_right' %}
		{% include "project-layouts/layout_col_8_right.twig" %}

		<!-- Content 10 columns pushed right -->
		{% elseif media_item.acf_fc_layout == 'layout_col_10_right' %}
		{% include "project-layouts/layout_col_10_right.twig" %}

		<!-- Content 10 columns pushed left -->
		{% elseif media_item.acf_fc_layout == 'layout_col_10_left' %}
		{% include "project-layouts/layout_col_10_left.twig" %}

		<!-- Full width layout -->
		{% elseif media_item.acf_fc_layout == 'layout_col_12' %}
		{% include "project-layouts/layout_col_12.twig" %}

		<!-- Full width layout -->
		{% elseif media_item.acf_fc_layout == 'medium_space' %}
		{% include "project-layouts/medium_space.twig" %}

		{% endif %}
	{% endfor %}
</div>

{% endblock %}
